.AddButton {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.AddButton button {
  min-width: 35%;
  min-height: 10vh;
  margin: 5%;
  padding: 2%;
  border-radius: 30px;
  border-style: none;
}

@media (min-width: 600px) {
  .AddButton button {
    min-width: 7.5rem;
    margin: 0;
  }
}
