.AddExpensePopUp {
  display: flex;
  flex-direction: column;
  max-width: 500px;
  align-items: flex-start;
  margin: 5%;
  border: solid 1px silver;
}

.AddExpensePopUp form .label-newline {
  display: block;
}
